<!DOCTYPE html>
<html lang="es">

<head>
    <title>Secure Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: teal;
            color: white;
            text-align: center;
        }
    </style>
</head>


<body>
    <div class="w3-container w3-teal">
        <h1>Your cart</h1>
    </div>
    <div align="center">
        <div class="grid-container"> 
        <%console.log(data)%>
        <%data.products.forEach((producto)=>{ %>
            <div>
 
                            
                            <input type="hidden" name="name" value="<%=producto.name%>"/>
                            <input type="hidden" name="price" value="<%=producto.price%>"/>
                            <input type="hidden" name="description" value="<%=producto.description%>"/>
                            <img alt="Submit" width="150" height="180"  src=<%="/img/" +producto.name + ".jpeg" %> >
                            <br><%=producto.name%>
                            <br><%=producto.price%>
                           
                    
            </div>
            <%});%>
        </div>
        <div class="col-sm-4" align="center">
            <form action="contactSocket" method="POST">  
                
                <h2>Please answer your security question before buying</h2>
                <p><%=data.question%></p>
                <input name="answer" required placeholder="Answer your security question">
                <button type="submit" class="btn btn-outline-success btn-lg">Buy</button>
            </form>
    </div>
          
</div>
    <footer class="footer">

        <p>Seguridad Informática</p>

    </footer>

</body>


</html>