<!DOCTYPE html>
<html lang="es">

<head>
    <title>Secure Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: teal;
            color: white;
            text-align: center;
        }
    </style>
</head>


<body>
    <div class="w3-container w3-teal">
        <h1>Secure Store</h1>
    </div>
    <div class="w3-row">

                <a href="/login"><button>Login</button></a>
                <a href="/signup"><button>Sign Up</button></a>
                <a href="/passwordRecovery"><button>Forgot Password?</button></a>
           
    </div>
    <footer class="footer">

        <p>Seguridad Informática</p>

    </footer>

</body>


</html>
