<div class="w3-container w3-teal">
        <h1>Bank information</h1>
    </div>
<br>
<input type="text"  id="userid" placeholder="Enter your bank id">
<br>
<input type="text" disabled id="amount" value="<%=data.amount%>">
<br>
<input type="text" disabled id="transaction" value="<%=data._id%>">
<br>
<button type="button" onclick="transaction();">Solicitar código de transacción</button>
<br>
<input type="text" placeholder="Type code here..." id="myInput">
<br>
    <button type="button" onclick="code();">Enviar código</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <script>
     var URL_SERVER = 'https://bankofm:443';
      var socket = io.connect(URL_SERVER);
      socket.on('bank_error', function(data) {
        alert(data);
        console.log(data);
      });
      socket.on('message', function(data) {
        alert(data);
      });
      socket.on('code_response', function(data) {
        console.log(data);
        if(data.response==="SUCCESS"){
            var a = document.createElement('a');
a.setAttribute('href', dataUri);
a.setAttribute('download', filename);

var aj = $(a);
aj.appendTo('body');
aj[0].click();
aj.remove();
        }
      });
      function code (){
        // Selecting the input element and get its value
        var inputVal = document.getElementById("myInput").value;
        socket.emit('code', {code: inputVal});
      }
      function transaction (){
        // Selecting the input element and get its value
        var userid = document.getElementById("userid").value;
        var amount = document.getElementById("amount").value;
        var transactionID = document.getElementById("transaction").value;
        socket.emit('transaction', {'id': userid, 'amount': amount, 'transaction': transactionID });
      }
    </script>